<html>
    <head>
        <title> YOLO-Object-Detection</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href='static/index.css'> 
        <script src='static/img_show.js'></script>
    </head>
    <body style="background-color:black;">
        <div style="padding:170px 450px 150px 500px; height: 700px">
        
            <img class='logo' src="{{url_for('static', filename='download.jpg')}}" alt="Unable to load">

            <div>
                <h3> Object Detection</h3>
            </div>

            <div>
                <form action="/result" method="post" enctype="multipart/form-data">
                    <input type="file" id="myFile" name='img'onchange="readURL(this);">
                    <input type="submit">
                    <img class='preview' id="blah" src="#" alt="your image">
                </form>
            </div>
            
        </div>

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>